#!/usr/bin/env python3
from setuptools import setup, find_packages

setup(
    name="{{package_name}}",
    version="0.0.1",
    author="{{author}}",
    author_email="{{email}}",
    url="{{url}}",
    description="",
    packages=find_packages(),
    license="{{license}}",
    install_requires=[
    ],
    tests_require=[
        "nose",
        "coverage",
        "mock",
    ],
    test_suite="nose.collector",
    entry_points={
        "console_scripts": [
            "{{package_name}}={{package_name.replace('_', '-')}}.cli:task",
            ],
        },
    classifiers=[
        "Operating System :: OS Independent",
        "Programming Language :: Python :: 3 :: Only",
        "Programming Language :: Python :: 3",
        "Environment :: Console",
        "License :: OSI Approved :: MIT License",
        "Development Status :: 5 - Production/Stable",
        "Programming Language :: Python",
    ],
)
